## Handling Imbalanced Dataset

1. Up Sampling
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio) # 900 data points of class_0
n_class_1 = n_samples - n_class_0 # 100 data points

In [3]:
n_class_0 , n_class_1

(900, 100)

In [4]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
# loc is mean and scale is basically std deviation here
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})
# 0 o/p feature 900 banege

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})
# 1 o/p feature 100 banege

In [5]:
pd.concat([class_0 , class_1]).reset_index(drop = True)

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[1000 rows x 3 columns]

In [6]:
df = pd.concat([class_0 , class_1]).reset_index(drop = True)

In [7]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [8]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

### 1. Upsampling
How you can convert these minority 100 points to 900 points

In [12]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [13]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [14]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [16]:
# Upsampling perform 
from sklearn.utils import resample
# this resampling library helps in upsampling

In [17]:
df_minority_upsample = resample(df_minority , replace=True , n_samples = len(df_majority) , random_state = 42)
# "replace = True" -> sample with replacement , replace krke naye data points banvayega
# "n_samples = len(df_majority," -> to match the majority class

In [18]:
df_minority_upsample.shape

(900, 3)

In [19]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [20]:
df_minority_upsample.value_counts()

feature_1  feature_2  target
1.005190   1.110089   1         19
1.915470   1.652041   1         18
3.701608   2.160889   1         18
2.902006   0.390305   1         16
3.013493   2.047240   1         16
                                ..
2.549697   3.095922   1          4
2.013560   2.847260   1          4
2.995595   2.475934   1          4
0.988356   1.835125   1          4
1.245992   2.946908   1          3
Length: 100, dtype: int64

In [21]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [22]:
df_upsampled = pd.concat([df_majority , df_minority_upsample])

In [23]:
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[1800 rows x 3 columns]

In [25]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [26]:
df_upsampled.shape

(1800, 3)

### 2. Downsampling

In [27]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
# loc is mean and scale is basically std deviation here
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})
# 0 o/p feature 900 banege

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})
# 1 o/p feature 100 banege

In [28]:
df = pd.concat([class_0 , class_1]).reset_index(drop = True)

In [29]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [30]:
df_majority_downsample = resample(df_majority, 
                                  replace=False, #sample without replacement
                                  n_samples = len(df_minority), #to match the minoirty class
                                  random_state = 42)

In [31]:
df_majority_downsample.shape

(100, 3)

In [32]:
pd.concat([df_minority , df_majority_downsample])

     feature_1  feature_2  target
900  -0.643425   2.571923       1
901   1.551009   1.782767       1
902   1.641093   2.054318       1
903   2.133194   2.155998       1
904   1.355758   2.467810       1
..         ...        ...     ...
398   1.013666   0.083496       0
76    0.164480  -1.808980       0
196  -1.576624   0.525893       0
631  -0.540147   0.610282       0
751  -0.168798  -0.831334       0

[200 rows x 3 columns]

In [36]:
df_downsample = pd.concat([df_minority , df_majority_downsample])

In [37]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64