Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
a = 'maninder'
b = [1,2,3,'maan',True,3+4j]
c = 2.345
d = (1,2,3,4,'hello')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [12]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [13]:
# Division
4/5

0.8

In [14]:
# Modulus 
5%4

1

In [15]:
# Floor
100//33

3

In [17]:
# Power
2**10

1024

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [22]:
l = [1,2,3,4,5,'maninder' , 'Maan' , True , False , 3+4j , 1.00422]
for i in l:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'str'>
maninder
<class 'str'>
Maan
<class 'bool'>
True
<class 'bool'>
False
<class 'complex'>
(3+4j)
<class 'float'>
1.00422

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
a = int(input("Enter the number A: "))
b = int(input("Enter the number B: "))
count = 0

while a % b == 0:
    a = a / b
    count += 1

if count > 0:
    print("The number A is divisible by B ", count, " times.")
else:
    print("The number A is not divisible by B.")

Enter the number A: 100
Enter the number B: 2
The number A is divisible by B  2  times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [7]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [8]:
for i in l:
    if i % 3 == 0:
        print("Yes" , i , "is divisible by 3")
    else:
        print("No" , i , "is not divisible by 3")

No 1 is not divisible by 3
No 2 is not divisible by 3
Yes 3 is divisible by 3
No 4 is not divisible by 3
No 5 is not divisible by 3
Yes 6 is divisible by 3
No 7 is not divisible by 3
No 8 is not divisible by 3
Yes 9 is divisible by 3
No 10 is not divisible by 3
No 11 is not divisible by 3
Yes 12 is divisible by 3
No 13 is not divisible by 3
No 14 is not divisible by 3
Yes 15 is divisible by 3
No 16 is not divisible by 3
No 17 is not divisible by 3
Yes 18 is divisible by 3
No 19 is not divisible by 3
No 20 is not divisible by 3
Yes 21 is divisible by 3
No 22 is not divisible by 3
No 23 is not divisible by 3
Yes 24 is divisible by 3
No 25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [9]:
# 1. Mutable data types are the ones whose values can be modified or reassigned 
# e.g -> lists
l = [1,2,3,4]

In [10]:
l[0]

1

In [11]:
l[0] = 5

In [12]:
# this way we mutated the value
l[0]

5

In [13]:
# 2. Immutable data types can be defined as the one whose values can't be mdoified or reassigned, they are only 
# overriden e.g. strings
s = 'maninder'

In [14]:
s[0]

'm'

In [16]:
# This gives typeError
# s[0] = 'l'