### MAP

In [1]:
l = [2,3,4,5,6]

In [2]:
# 1st method-> sqaure of number
def test(l):
    l1 = []
    for i in l :
        l1.append(i**2)
    return l1

In [3]:
test(l)

[4, 9, 16, 25, 36]

Map ->> jo bhi aap function input doge uss function se map kardega every element ko, one by one parallelly map kardega

In [5]:
# 2nd Method
# agar kuch aisa hojaye jha pe hum map karde har ek element ko jo ki available hai iss list ke andar with a square function 
def sq(x):
    return x**2

In [7]:
# 2nd map method
map(sq,l)
# map takes 2 parameters (function , iterables)

In [8]:
list(map(sq,l))

[4, 9, 16, 25, 36]

In [9]:
# 3rd Method using map and lambda function
list(map(lambda x : x**2 , l))

[4, 9, 16, 25, 36]

In [12]:
# add corresponding digits of l1 and l2
# approach 1
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

list(map(lambda x,y : x+y , l1 , l2))

[7, 9, 11, 13, 15]

In [15]:
# add corresponding digits of l1 and l2
# approach 2
def add(x,y):
    return x+y

list(map(add , l1 , l2))

[7, 9, 11, 13, 15]

In [17]:
# convert characters of string to upper case
s = 'pwskills'

list(map(lambda s : s.upper() , s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

### REDUCE

In [23]:
# it is also a mapper type function jo pure ke pure iterables pe kaam krta hai
from functools import reduce

# saare ko collapse krke add krke result dedo
l = [1,2,3,4,5]

In [25]:
reduce(lambda x , y : x+y , l)
 
# x baar baar add (x+y) hoke update hota rhega and y will be next value
# isme 2 hi parameter introduce krna hai x,y,z , z nahi chalega
# becuase list may be of type that when x+y+z, z may not exist
# har baar yeah true nahi hoga so we dont consider this

15

In [26]:
# error -> reduce(lambda x , y : x+y , [])

In [28]:
# excpetional case
reduce(lambda x , y : x+y , [1])

1

In [29]:
# multiplication of numbers
reduce(lambda x , y : x*y , l)

120

In [30]:
# maximum number from list
reduce(lambda x , y : x if x>y else y , l)

5

### Filter Functions 
Jha bhi aapke paas collections hai, mujhe ye condition lagake ye data filter karna hai,in that case you can use filter function

In [31]:
l

[1, 2, 3, 4, 5]

In [32]:
# find even number / number divisible by 3 / number divisible by 5

In [36]:
# finding even number
list(filter(lambda x : x % 2 == 0  , l))

[2, 4]

In [37]:
list(filter(lambda x : x & 1 == 0  , l))

[2, 4]

In [38]:
# odd number
list(filter(lambda x : x & 1 != 0  , l))

[1, 3, 5]

In [39]:
# find only negative number
l1 = [-3,4,6,-1,-2,-11,12,-1223]

In [40]:
list(filter(lambda x : x < 0  , l1))

[-3, -1, -2, -11, -1223]

In [41]:
l2 = ["sudh" , 'kumar' , 'krish' , 'niak']

In [43]:
# find string whose length is less than 6
list(filter(lambda x : len(x)<6  , l2))

['sudh', 'kumar', 'krish', 'niak']