In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
s = df['Name']

In [6]:
s

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [7]:
len(s)

891

In [8]:
s = df['Name'][0:10]

In [9]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [10]:
# khudka index provide karana

In [11]:
l = ['a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g' , 'h' , 'i' , 'j']

In [12]:
pd.Series(s , index = l)

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [14]:
s1 = pd.Series(list(s) , index = l)

In [16]:
s[0]

'Braund, Mr. Owen Harris'

In [17]:
# internal index yaad rhega
s1[0]

'Braund, Mr. Owen Harris'

In [19]:
s1['b']

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [20]:
# appending

In [22]:
s2 = s1.append(s)

/var/folders/c2/f5bngp3x0n72f7b5_dn7rz4w0000gn/T/ipykernel_19018/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [23]:
s2[0]

'Braund, Mr. Owen Harris'

In [24]:
s2[4]

'Allen, Mr. William Henry'

In [25]:
# default index leta hai kya?

In [28]:
s4 = pd.Series([3,4,5,6,6] , index = [2,4,5,6,1])

In [29]:
s5 = pd.Series([34,345,45,45,454] , index = [9,4,5,6,7])

In [31]:
s6 = s4.append(s5)

/var/folders/c2/f5bngp3x0n72f7b5_dn7rz4w0000gn/T/ipykernel_19018/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [32]:
s6[4]

4      4
4    345
dtype: int64

In [33]:
# So it is proved ki vo named index leta hai

In [34]:
# but iss case mein default smajarha hai
# Slicing mein default indexes, 
# Otherwise named indexes
s6[0:5]

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [35]:
# Pehle corresponding named indexes match krega , agar match hote hai tab hi vo operation(multiply) hoga otherwise not
# NaN
s4*s5

1       NaN
2       NaN
4    1380.0
5     225.0
6     270.0
7       NaN
9       NaN
dtype: float64