## Nominal / One Hot Encoding

In [9]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [10]:
df = pd.DataFrame({
    'color' : ['red' , 'blue' , 'green' , 'red' , 'blue']
})

In [11]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [12]:
encoder = OneHotEncoder()

In [13]:
encoder.fit_transform(df[['color']])

<5x3 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [16]:
encoded = encoder.fit_transform(df[['color']])

In [17]:
encoded_df = pd.DataFrame(encoded.toarray() , columns = encoder.get_feature_names_out())

In [18]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [19]:
pd.concat([df , encoded_df] , axis = 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0