## Label & Ordinal Encoding 
categories with rank

In [1]:
import pandas as pd

In [3]:
# using library sklearn -> google it

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
df = pd.DataFrame({
    'color' : ['red' , 'blue' , 'green' , 'red' , 'blue']
})

In [6]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [7]:
# create an instance of label encoder
encoder = LabelEncoder()

In [8]:
encoder.fit_transform(df[['color']])

/Users/apple/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0])

In [11]:
# can give 1d as well
encoder.fit_transform(df['color'])
# this can give faulty information that red is greater than green and so on which can lead to fault in ML models
# ab label encoding mein ye by default alphabetically encoding krta hai

array([2, 0, 1, 2, 0])

In [12]:
# agar rank wise encoding krna hai toh we will use ORDINAL ENCODING

In [13]:
# again using sk learn ordinal library

In [15]:
# Ordinal Encoding
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

# create a simple data frame with an ordinal variable
df = pd.DataFrame({
    'size' : ['small' , 'medium' , 'large' , 'medium' , 'small' , 'large']
})

In [17]:
# Create an instance of ordinal Encoder class and fit_transform

In [18]:
encoder = OrdinalEncoder(categories=[['small' , 'medium' , 'large']])

In [19]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

## Assignment-6

Ques. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,
large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.
Show your code and explain the output.

In [3]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [5]:
df1 = pd.DataFrame({
    'color' : ['red' , 'green' , 'blue'],
    'size' : ['small' , 'medium' , 'large'],
    'material' : ['wood' , 'metal' ,'plastic']
})

In [6]:
df1

   color    size material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [7]:
encoder = LabelEncoder()

In [12]:
df1['color'] = encoder.fit_transform(df1['color'])
df1['size'] = encoder.fit_transform(df1['size'])
df1['material'] = encoder.fit_transform(df1['material'])

In [13]:
df1

   color  size  material
0      2     2         2
1      1     1         0
2      0     0         1

Ques. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education
level. Interpret the results.

In [14]:
import numpy as np

# Create a sample dataset (replace this with your actual dataset)
data = np.array([[30, 40000, 12],
                 [35, 50000, 16],
                 [25, 30000, 14],
                 [40, 60000, 18],
                 [28, 45000, 15]])

# Calculate the covariance matrix
cov_matrix = np.cov(data, rowvar=False)

# Print the covariance matrix
print("Covariance Matrix:")
print(cov_matrix)

Covariance Matrix:
[[3.53e+01 6.25e+04 1.00e+01]
 [6.25e+04 1.25e+08 2.00e+04]
 [1.00e+01 2.00e+04 5.00e+00]]