## Functions

In [1]:
# This is some inbuilt functions

In [2]:
print("this is my print")

this is my print

In [3]:
l = [3,2,3]

In [4]:
len(l)

3

In [5]:
type(l)

list

### Function Creation

In [6]:
# def -> define , test is function name and it doesnot have any parameters
# this is a blank function you have to use pass if it is blank
def test():
    pass

In [7]:
def test1():
    print("this is my very very first function")

In [8]:
# To execute above function we have to call it
test1()
# this increases reusability

this is my very very first function

In [9]:
# test1() + "some"
# test1() is have print() which is none type so not possible we can't add
# So we generally don't use print() as return from function
# we use return(existing keyword)
# return mein jo data type likhoge vohi aajayega

In [10]:
def test2():
    return "this is my very first return"

In [11]:
test2()

'this is my very first return'

In [12]:
test2() + 'maan'

'this is my very first returnmaan'

In [13]:
def test3():
    
    return 'sudh' , 23, 345.56 , [1,2,3]

In [14]:
# this return multiple data type in form of tuples
test3()

('sudh', 23, 345.56, [1, 2, 3])

In [15]:
# Ye alag alag variable mein data dal bhi dega
a,b,c,d = test3()
# accordingly

In [16]:
a

'sudh'

In [17]:
b

23

In [18]:
c

345.56

In [19]:
d

[1, 2, 3]

In [20]:
# this above is 
a = 1 
b = 1

In [21]:
a , b = 1 , 4

In [22]:
def test4():
    a = 5+6/7
    return a

In [23]:
# jo iss return ke sath karna hai karlo
test4()

5.857142857142857

In [24]:
def test5(a,b,c):
    d = a+b/c
    return d

In [25]:
# test5() bina arguments ke bina pass nahi hoga becuase above function has some parameters a , b , c , d. 
# Arguments are the actual values or expressions that are passed into a function when it is called. when test5 is 
# called and values of a,b,c will be passed then they will be arguents
test5(2,5,8)
# 2,5,8 are arguments

2.625

In [26]:
def test6(a,b):
    return a+b

In [27]:
test6(3,4)

7

In [28]:
test6('sudh' , 'kumar')

'sudhkumar'

In [29]:
test6([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [30]:
l = [1,2,3,4,'sudh','kumar',[1,2,3,4,5,6]]
# Ques -> Ek kaam kro ye jo list available hai na ek function likhdo jisse koi list aap pass kroge to uske andar 
# jo bhi data types ki value available hai usko ek aur list mein nikalke vo dede

In [31]:
# without function
l1 = []
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)

In [32]:
l1

[1, 2, 3, 4]

In [33]:
# with function
def test7(l):
    l1 = []
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
    return l1

In [34]:
test7(l)

[1, 2, 3, 4]

In [35]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [36]:
def test8(a):
    l2 = []
    for i in a:
        # Pehla loop list ke andar se list ko nikalne ke liye
        if type(i) == list:
            for j in i:
                l2.append(j)
        else:
            if type(i) == int or type(i) == float:
                l2.append(i)
    return l2

In [37]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [38]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [39]:
# How to make your function such that it shows info when you press tab and it shows infor
# test8()
# DOC String
def test9(a):
    """this is my favourite to extract num data from list"""
    l2 = []
    for i in a:
        # Pehla loop list ke andar se list ko nikalne ke liye
        if type(i) == list:
            for j in i:
                l2.append(j)
        else:
            if type(i) == int or type(i) == float:
                l2.append(i)
    return l2

In [41]:
# test9() # now docstring will be available

In [42]:
# Static Parameters
def test10(a,b):
    return a+b

In [1]:
# dynamic parameters
def test11(*args):
    return args
# this '*' steric means any number of arguments you can pass into a function
# args is not fixed you can use anything

In [2]:
test11()

()

In [52]:
type(test11())

tuple

In [53]:
test11(1,2,3)

(1, 2, 3)

In [54]:
test11(1,2,3,'sudh' , 'kumar',[1,2,3,4,5,6])
# it will take data into tuples

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6])

In [55]:
def test12(*astha):
    return astha

In [56]:
test12('i' , 'know' , 1,22,34)

('i', 'know', 1, 22, 34)

In [57]:
def test13(*args , a):
    return args , a

In [59]:
# test13(1,2,3,4)
# # Multiple input dediye hai toh extra variable alag se specify krna padega vrna error aajega

In [60]:
test13(1,2,3,4,a=0)

((1, 2, 3, 4), 0)

In [61]:
def test14(c , d , a=23 , b = 1):
    return a , b , c , d

In [62]:
# two values jo nahi di hai vo deni padengi
test14(3,4)

(23, 1, 3, 4)

In [63]:
# you can override default value
test14(2,5,a=0)

(0, 1, 2, 5)

In [65]:
# user ko n number of data chahiye in a dictionary format , in key : value pair
def test15(**kwargs):
    return kwargs

In [66]:
test15()

{}

In [67]:
type(test15())

dict

In [68]:
# key value pair
test15(a = [1,2,3,4] , b = 'sudh' , c = 23.45)

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}