## Assignment 
#### You have to Predict Time Based on all the other features

In [1]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [4]:
X = df[['total_bill' , 'tip' , 'sex' , 'smoker' , 'day' , 'size']]

In [5]:
y = df['time']

In [6]:
X.head()

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2
4       24.59  3.61  Female     No  Sun     4

In [7]:
y

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   size        244 non-null    int64
dtypes: category(3), float64(2), int64(1)
memory usage: 7.0 KB

#### 1. Converting Categorical to Numerical Features

In [9]:
one_hot_encoder = OneHotEncoder()

In [10]:
one_hot_encoder.fit(X[['sex', 'smoker', 'day']])

OneHotEncoder()

In [11]:
# Perform one-hot encoding
one_hot_encoded = one_hot_encoder.transform(X[['sex', 'smoker', 'day']])

# Convert sparse matrix to dense DataFrame
one_hot_df = pd.DataFrame(one_hot_encoded.toarray(), columns=one_hot_encoder.get_feature_names_out())

# Concatenate the original dataframe without the categorical columns and the one-hot encoded dataframe
X = pd.concat([X.drop(['sex', 'smoker', 'day'], axis=1), one_hot_df], axis=1)

In [12]:
X

,total_bill,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur
0,16.99,1.01,2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,10.34,1.66,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,21.01,3.50,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,23.68,3.31,2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
4,24.59,3.61,4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
240,27.18,2.00,2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
241,22.67,2.00,2,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
242,17.82,1.75,2,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
243,18.78,3.00,2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [13]:
y

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

#### 2. Applying Scaler

In [14]:
from sklearn.preprocessing import MinMaxScaler

# Assuming X is your feature matrix
scaler = MinMaxScaler(feature_range=(-1, 1))
X_scaled = scaler.fit_transform(X)

In [15]:
X_scaled

array([[-0.41684122, -0.99777778, -0.6       , ..., -1.        ,
         1.        , -1.        ],
       [-0.6954336 , -0.85333333, -0.2       , ..., -1.        ,
         1.        , -1.        ],
       [-0.24842899, -0.44444444, -0.2       , ..., -1.        ,
         1.        , -1.        ],
       ...,
       [-0.17888563, -0.77777778, -0.6       , ...,  1.        ,
        -1.        , -1.        ],
       [-0.38206954, -0.83333333, -0.6       , ...,  1.        ,
        -1.        , -1.        ],
       [-0.3418517 , -0.55555556, -0.6       , ..., -1.        ,
        -1.        ,  1.        ]])

#### 3. Train Test Split

In [16]:
X_train , X_test , y_train , y_test = train_test_split(X_scaled , y , test_size=0.32 , random_state=42)

In [18]:
X_train.shape

(165, 11)

In [19]:
y_train.shape

(165,)

In [20]:
y_train

125     Lunch
148     Lunch
114    Dinner
65     Dinner
132     Lunch
        ...
106    Dinner
14     Dinner
92     Dinner
179    Dinner
102    Dinner
Name: time, Length: 165, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

#### 4. Training Model

In [23]:
gaussian_bayes = GaussianNB()
gaussian_bayes.fit(X_train , y_train)

GaussianNB()

#### 5. Predicting

In [24]:
# Predict the labels on the test data
y_test_pred = gaussian_bayes.predict(X_test)

# Predict the labels on the training data
y_train_pred = gaussian_bayes.predict(X_train)

In [25]:
# Calculate the training accuracy
training_accuracy = accuracy_score(y_train, y_train_pred)

# Calculate the test accuracy
test_accuracy = accuracy_score(y_test, y_test_pred)

print("Training Accuracy:", training_accuracy)
print("Test Accuracy:", test_accuracy)

Training Accuracy: 0.9393939393939394
Test Accuracy: 0.9620253164556962