## Lists

In [1]:
l = [1,2,3,"sudh" , True , 4.35]

In [2]:
type(l)

list

In [3]:
l[0]

1

In [4]:
l[5]

4.35

In [5]:
# l[6]
# Out of bound element not exists

In [6]:
l[0:3]

[1, 2, 3]

In [7]:
# indexing can be negative(starts from last->first) or positive(starts from first->last) both
l[-1]

4.35

Slicing

In [8]:
l[::-1]

[4.35, True, 'sudh', 3, 2, 1]

In [9]:
# Extract data from even index
l[::2]

[1, 3, True]

In [10]:
s = 'pwSkills'

In [11]:
# Different data types can't be concatenated
# l+s
# l+3

In [12]:
# Ye list function todega characters ko
# this is not type conversion it is breaking string into chars and then storing it into l
list(s)

['p', 'w', 'S', 'k', 'i', 'l', 'l', 's']

In [13]:
# haan ab add kr sakte ho but tutke add hoga
list(s) + l

['p', 'w', 'S', 'k', 'i', 'l', 'l', 's', 1, 2, 3, 'sudh', True, 4.35]

In [14]:
l

[1, 2, 3, 'sudh', True, 4.35]

In [15]:
# As it is separtely a string now you can apply slicing operation
l[3][0:2]

'su'

In [16]:
# l[4][0:2] can't find as l[4] is boolean , firstly we have to convert it into string
# firstly converted into string
str(l[4])[0:2]

'Tr'

In [17]:
l1 = [3,4,5]

In [18]:
# concatinating two lists
l+l1

[1, 2, 3, 'sudh', True, 4.35, 3, 4, 5]

In [19]:
# n number of times repeat krega
l1*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [20]:
# number of elements
len(l)

6

#### APPEND FUNCTION

In [21]:
# append ek sath daldega without breaking
l.append(5)
# this way we can concatanate list with int without conversion

In [22]:
l

[1, 2, 3, 'sudh', True, 4.35, 5]

In [23]:
s

'pwSkills'

In [24]:
l.append(s)
# this way we can concatinate str + list without breakdown into chars

In [25]:
l

[1, 2, 3, 'sudh', True, 4.35, 5, 'pwSkills']

In [26]:
# we can append two lists as well 
l.append(l1)

In [27]:
l

[1, 2, 3, 'sudh', True, 4.35, 5, 'pwSkills', [3, 4, 5]]

In [28]:
# extracting 4
l[8][1]
# or
# l[-1][1]

4

#### EXTEND FUNCTION

In [29]:
# integer not working
# l.extend(4)
# string working after breaking it
# because string mein hum break kr sakte hai index mein , iterable hai stirng
l.extend("sudh")

In [30]:
l

[1, 2, 3, 'sudh', True, 4.35, 5, 'pwSkills', [3, 4, 5], 's', 'u', 'd', 'h']

In [31]:
# todke dalta hai extend
# as it is dalta hai append
l.extend([10,11,12])

In [32]:
l

[1,
 2,
 3,
 'sudh',
 True,
 4.35,
 5,
 'pwSkills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 10,
 11,
 12]

In [33]:
# data duplicacy is allowed

In [34]:
l1 = [3,4,5]

In [35]:
l1

[3, 4, 5]

#### INSERT FUNCTION

In [36]:
# insert data at first position now or in a given position
# INSERT FUNCTION
# format->(index , data)
# format na ya index
l1.insert(1,"MAN")

In [37]:
l1

[3, 'MAN', 4, 5]

In [38]:
l1.insert(2,"INDER")

In [39]:
l1

[3, 'MAN', 'INDER', 4, 5]

In [40]:
l1.insert(3,[1,2,3])

In [41]:
l1

[3, 'MAN', 'INDER', [1, 2, 3], 4, 5]

In [42]:
l1.insert(-1,45)
# second last pe isliye aaya becuas humne bola ki -1 pe 45 daldo or jo tha(5) usko aage push krdo that's why you see 5 at end

In [43]:
l1

[3, 'MAN', 'INDER', [1, 2, 3], 4, 45, 5]

In [44]:
l1.insert(0,1)

In [45]:
l1

[1, 3, 'MAN', 'INDER', [1, 2, 3], 4, 45, 5]

#### DATA DELETE

In [46]:
# 1. POP FUNCTION
# By default deletes from -1 i.e. end
l1.pop()

5

In [47]:
l1

[1, 3, 'MAN', 'INDER', [1, 2, 3], 4, 45]

In [48]:
l1.pop()

45

In [49]:
l1

[1, 3, 'MAN', 'INDER', [1, 2, 3], 4]

In [50]:
# pops from particular index
l1.pop(2)

'MAN'

In [51]:
l1

[1, 3, 'INDER', [1, 2, 3], 4]

In [52]:
l1.pop(3)

[1, 2, 3]

In [53]:
l1

[1, 3, 'INDER', 4]

In [54]:
# 2. REMOVE FUNCTION
# This deletes particular value from list
l1.remove(1)

In [55]:
l1

[3, 'INDER', 4]

In [56]:
# # if not exist in list it will show error
# l1.remove(234)

In [57]:
l1.append([4,5,6])

In [58]:
l1

[3, 'INDER', 4, [4, 5, 6]]

In [59]:
# if you want to delete 5 from list of list you have take whole list of list and then remove 5 seperately and then youve to append it again

In [60]:
l1[3].remove(5)

In [61]:
l1

[3, 'INDER', 4, [4, 6]]

In [62]:
# l1[1].remove("DER") -> not possible for string only possible for list

In [63]:
# remove only removes first occurance if multiple occurance of given value is present i.e. not any other occurance
l1.append(3)

In [64]:
l1

[3, 'INDER', 4, [4, 6], 3]

In [65]:
l1.remove(3)

In [66]:
l1

['INDER', 4, [4, 6], 3]

In [67]:
# REVERSE OF LIST
l1[::-1] # -> donot changes org list, temporary reverse
# making it permanent reversal we have to :
l1 = l1[::-1] 
# now this will be parmanent reversal as we are storing the temporary reversal into element itself

In [68]:
l1.reverse() # this is permanent reverse makes changes in origninal list

In [69]:
l1 # this is because it is already reversed in above col

['INDER', 4, [4, 6], 3]

In [70]:
l2 = [7,6,5,4,3,2,1,0]

In [71]:
l2.sort()

In [72]:
l2

[0, 1, 2, 3, 4, 5, 6, 7]

In [73]:
# only sort integer value
# l1.sort()
# because it sort by comparing

In [74]:
# sort in alphabetical order for strings
# but it can't sort int and string or any pther data types mixed
l4 = ["sud" , "kum" , "pwSkil" , "data"]
l4.sort()

In [75]:
l4

['data', 'kum', 'pwSkil', 'sud']

In [76]:
l4.sort(reverse = True)

In [77]:
l4

['sud', 'pwSkil', 'kum', 'data']

In [78]:
l4.index('pwSkil')

1

In [79]:
l4.count('pwSkil')

1

In [80]:
l4.count('am') # frequency

0

In [81]:
s = "sudh"

In [82]:
l5 = [3,4,5,6]

In [83]:
s[0]

's'

In [84]:
# replace s with a
# s[0] = 'a' -> assignment in string not allowed
# reassignment is different 
# you can extract remove update and then say it is different

In [85]:
l5[0] = 30 #->assignment/mutability in list allowed

In [86]:
l5

[30, 4, 5, 6]

In [87]:
# MUTABILITY AND IMMUTABILITY ALREADY DISCUSSED

In [88]:
# Orignal s is not changed 
s.replace('s' , 'm')

'mudh'

In [89]:
s

'sudh'

### Tuples -> jo string me tha or list mein tha lagbhag same hai

In [90]:
t = (2,3,4,5,"sudh" , 45.56,False , 45+457j,[3,4,5])

In [91]:
t

(2, 3, 4, 5, 'sudh', 45.56, False, (45+457j), [3, 4, 5])

In [92]:
type(t)

tuple

In [93]:
len(t)

9

In [94]:
t[0]

2

In [95]:
t[-1]

[3, 4, 5]

In [96]:
t[::-1]

([3, 4, 5], (45+457j), False, 45.56, 'sudh', 5, 4, 3, 2)

In [97]:
# The main difference is Mutability & Immutability

In [98]:
l4[0] = 23423

In [99]:
l4

[23423, 'pwSkil', 'kum', 'data']

In [100]:
# t[0] = "sudh"
# tuple' object does not support item assignment
# String and tuples are IMMUTABLE

In [101]:
t[::-1]
# reverse is not linked with mutability , this is creating a new object

([3, 4, 5], (45+457j), False, 45.56, 'sudh', 5, 4, 3, 2)

In [102]:
t.index(False)

6

### Set

In [103]:
s1 = {}

In [104]:
type(s1)
# emtpy set is considered dictionary only

dict

In [105]:
s2 = {2,3,4,55,6}

In [106]:
type(s2)

set

In [107]:
s3 = {1,2,3,4,"Ma",4.56,True,1+2j}

In [108]:
# # list is not allowed as it takes immutable data types only
# s4 = {[1,2,3,4]}

In [109]:
s4 = {(1,2,3,4)}

In [110]:
s5 = {2,3,4,5,5,6,6,7,7,5,5,4,3,2,2,1,1,1,1}

In [111]:
# Set remove all the duplicates
# Set is used when we have to remove duplicates
# Set looks like arranging but it creates build unordered collection of unique element
s5

{1, 2, 3, 4, 5, 6, 7}

In [112]:
# it is case sensitive as python is case sensitive
s5 = {1,2,3,4,"sudH",4,5,5,5,6,"Sudh",6,"sudh",7,7,"sudh",8,8}

In [113]:
s5

{1, 2, 3, 4, 5, 6, 7, 8, 'Sudh', 'sudH', 'sudh'}

In [114]:
s6 = {234,45,23,12,567,45,2,789,"bc",456,342,23}

In [115]:
# SET NEVER ARRANGES A DATA
s6

{12, 2, 23, 234, 342, 45, 456, 567, 789, 'bc'}

In [116]:
# 'set' object is not subscriptable
# s5[0]
# Indexing and Slicing operation are not going to work for set
# s5[::-1]

In [117]:
s5

{1, 2, 3, 4, 5, 6, 7, 8, 'Sudh', 'sudH', 'sudh'}

In [118]:
# s5.(press tab) to get all the methods
s5.add(0)
# only adds if the element is not already present as it takes unique elements

In [119]:
s5

{0, 1, 2, 3, 4, 5, 6, 7, 8, 'Sudh', 'sudH', 'sudh'}

In [120]:
s5.remove(2)

In [121]:
s5

{0, 1, 3, 4, 5, 6, 7, 8, 'Sudh', 'sudH', 'sudh'}