## Dictionary

In [1]:
d = {}

In [2]:
type(d)

dict

In [3]:
# dictionary have -> {key : value}

In [4]:
d1 = {'key' : 'sudh'}
# key should be unique otherwise it will update
# Yeah samjhlo ki yeah word hai (key) or (sudh) uska meaning hai

In [5]:
d1

{'key': 'sudh'}

In [6]:
d2 = {'name' : 'maninder' , 'email' : 'manindermaan720@gmail.com' , 'number' : 12345}

In [7]:
d2

{'name': 'maninder', 'email': 'manindermaan720@gmail.com', 'number': 12345}

In [10]:
# d3 = {234 : 'maninder' , @wer : 'kumar' , _man : 'Doesnot work'}
# key can have string , int , bool or any datatypes but not special case char

In [12]:
d3 = {234 : 'sudh' , '_wer' : 'Kumar' , True : 1234}

In [14]:
# we can use key to extract values
d3[234]

'sudh'

In [15]:
d3[True]

1234

In [17]:
# True = 1, we can'tuse indexing here
d3[1]

1234

In [18]:
d4 = {'name' : 'sudh' , 'mail_id' : 'ss@gmail.com' , 'name' : 'maninder'}

In [19]:
# key should always be unique otherwise it will be overriden with new values and this is property of dictionary , 
# it will override with the most last value
d4['name']

'maninder'

In [20]:
d5 = {'company' : 'pwskills' , 'courses' : ['web dev' , 'data science' , 'maths']}

In [21]:
d5

{'company': 'pwskills', 'courses': ['web dev', 'data science', 'maths']}

In [23]:
d5['courses']

['web dev', 'data science', 'maths']

In [24]:
d5['courses'][2]

'maths'

In [49]:
d6 = {"number" : [1,2,3,4,54,54] , 'assignment' : (1,2,3,4,5,6) , 'launch_date' : {28,12,23,23,23,23} , 'class-time' : {'dsmasters' : 8 , 'babbar' :6 , 'java' : 5}}

In [50]:
d6 # nested dictionary , list , set or tuple is allowed

{'number': [1, 2, 3, 4, 54, 54],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 23, 28},
 'class-time': {'dsmasters': 8, 'babbar': 6, 'java': 5}}

In [51]:
# extracting data
d6['class-time']['java']

5

In [52]:
# Appending into dictionary (adds new key)
d6['mentor'] = ['sud' , 'man' , 'ali']

In [53]:
d6

{'number': [1, 2, 3, 4, 54, 54],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 23, 28},
 'class-time': {'dsmasters': 8, 'babbar': 6, 'java': 5},
 'mentor': ['sud', 'man', 'ali']}

In [54]:
# Key likkha hua hai and you append again it will just update the values
d6['number'] = [1]

In [55]:
d6

{'number': [1],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 23, 28},
 'class-time': {'dsmasters': 8, 'babbar': 6, 'java': 5},
 'mentor': ['sud', 'man', 'ali']}

In [56]:
# For DELETE write it's key for which you wanto to delete it will delete whole item
del d6['number']
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 23, 28},
 'class-time': {'dsmasters': 8, 'babbar': 6, 'java': 5},
 'mentor': ['sud', 'man', 'ali']}

In [57]:
# Extracting all keys
d6.keys()

dict_keys(['assignment', 'launch_date', 'class-time', 'mentor'])

In [58]:
list(d6.keys())

['assignment', 'launch_date', 'class-time', 'mentor']

In [59]:
# Extracting all values
list(d6.values())

[(1, 2, 3, 4, 5, 6),
 {12, 23, 28},
 {'dsmasters': 8, 'babbar': 6, 'java': 5},
 ['sud', 'man', 'ali']]

In [60]:
# Extracting all pairs
list(d6.items())

[('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {12, 23, 28}),
 ('class-time', {'dsmasters': 8, 'babbar': 6, 'java': 5}),
 ('mentor', ['sud', 'man', 'ali'])]

In [61]:
# Removes the item or pair whose key is provided
d6.pop('assignment')

(1, 2, 3, 4, 5, 6)

In [62]:
d6

{'launch_date': {12, 23, 28},
 'class-time': {'dsmasters': 8, 'babbar': 6, 'java': 5},
 'mentor': ['sud', 'man', 'ali']}

In [63]:
# DICTIONARY IS MUTABLE

### Control Flow

Control or decision making statement -> agar mai yeah karunga toh yeah hoga 
e.g. agar mai yha gya toh yeah hoga , this and that

In [67]:
# marks = 65
# By default this input function convert into string
# To make this into int again we have to typecaste
marks = int(input("Enter your marks "))
if marks >= 80:
    print('You will be part of A0 batch')
elif marks >=60 and marks<80:
    print('You will be part of A1 batch')
elif marks >=40 and marks<60:
    print('You will be part of A2 batch')
else :
    print('You will be part of A3 batch')

Enter your marks 100
You will be part of A0 batch

In [66]:
10 >= 11

False

In [71]:
price = int(input("Enter price : "))
if price > 1000:
    print("i will not purchase")
else :
    print("i will purchase")

Enter price : 100
i will purchase

In [78]:
price = int(input("Enter price : "))
if price > 1000:
    print("i will not purchase")
    if price > 5000:
        print("This is too much fuckoff")
    elif price < 2000 :
        print("Its okay")
elif price <1000:
    print("I will purchase")
    if price>5000:
        print("i will not purchase")
else : 
    print("not interesed")
    if price > 5000:
        print("Too much for this shit")

Enter price : 100000
i will not purchase
This is too much fuckoff

In [79]:
l = [1,2,3,4,5,6,7,8]

In [86]:
# add 1 to list to every element
l1 = []
for i in l :
    # print(i+1)
    l1.append(i+1)

In [87]:
l1

[2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
l2 = ['sudh' , 'kumar' , 'pwSkills' , 'course']

In [90]:
# convert to upper case
l3 = []
for i in l2:
    l3.append(i.upper())

In [91]:
l3

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [92]:
l4 = [1,2,3,4,4,'sudh','kumar',324,34,456,'abc']

In [99]:
# make two separate list one having string and other having integer
l1_num = []
l2_str = []

for i in l4 :
    if type(i) == int or type(i) == float:
        l1_num.append(i)
    else :
        l2_str.append(i)

In [100]:
l1_num

[1, 2, 3, 4, 4, 324, 34, 456]

In [101]:
l2_str

['sudh', 'kumar', 'abc']