## Normalization-Min Max Scaler

In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset('taxis')

In [3]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [4]:
# You can do by formula as well (manual method)
# we are doing here by class method

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [6]:
min_max = MinMaxScaler()

In [7]:
# By using fit and transform seperately

In [8]:
min_max.fit(df[['distance' , 'fare' , 'tip']])

MinMaxScaler()

In [10]:
min_max.transform(df[['distance' , 'fare' , 'tip']])

array([[0.04359673, 0.04026846, 0.06475904],
       [0.02152589, 0.02684564, 0.        ],
       [0.0373297 , 0.04362416, 0.07108434],
       ...,
       [0.11280654, 0.10067114, 0.        ],
       [0.03051771, 0.03355705, 0.        ],
       [0.10490463, 0.09395973, 0.10120482]])

In [11]:
# By using fit and tranform together

In [12]:
min_max.fit_transform(df[['distance' , 'fare' , 'tip']])

array([[0.04359673, 0.04026846, 0.06475904],
       [0.02152589, 0.02684564, 0.        ],
       [0.0373297 , 0.04362416, 0.07108434],
       ...,
       [0.11280654, 0.10067114, 0.        ],
       [0.03051771, 0.03355705, 0.        ],
       [0.10490463, 0.09395973, 0.10120482]])

In [13]:
# Lekin jab bhi naya data ayega toh aapko " .tranform " use karna hai iss case mein bhi or feature scaling ke case mein bhi
min_max.transform([[1,3,4]])

/Users/apple/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([[0.02724796, 0.01342282, 0.12048193]])

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [15]:
min_max = MinMaxScaler()

In [16]:
import pandas as pd
df1 = pd.DataFrame({'data' : [1, 5, 10, 15, 20]})

In [17]:
df1

   data
0     1
1     5
2    10
3    15
4    20

In [18]:
min_max.fit(df1[['data']])

MinMaxScaler()

In [19]:
df1['newData'] = min_max.transform(df1[['data']])

In [20]:
df1

   data   newData
0     1  0.000000
1     5  0.210526
2    10  0.473684
3    15  0.736842
4    20  1.000000